<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="shortcut icon" href="#">
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Created</title>
</head>
<body id="bodyTest"style="display:flex;flex-direction:column;align-items:Center;transition:.25s;justify-content:center;height:100vh;">
    <h1 style="background:gold;color:#333;padding:1rem; border-radius:12px;">User Created</h1>
    <form action="/">
        <div class="flex-item" style="display:flex;flex-direction: column; align-items: center;justify-content: center;">
            <input id="homepage" type="submit" value="Back to Homepage" style="background:green;color:#fff;padding:1rem; border-radius:12px;border:none;margin:1rem 0;">
        </div>
    </form>
    <input type=button style="position:absolute;padding:.5rem 1rem;cursor:pointer;bottom:15%;"value="VIEW CODE" class="view-btn"/>
    <div class="text-container hide-option view" style="position:absolute;bottom:25%;">
        <textarea name="text" style="height:200px;" class="textarea" cols="30" rows="10" readonly>

        </textarea>
    </div>
</body>
<script src="../public/main.js"></script>
</html>