<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drop</title>
</head>
<body id="bodyTest"style="display:flex;flex-direction:column;align-items:Center;transition:.25s;justify-content:center;height:100vh;">
    <h1 style="background:red;color:#fff;padding:1rem; border-radius:12px;">Maximum users. Drop certain users or Drop all.</h1>
    <form action="/">
        <div class="flex-item" style="display:flex;flex-direction: column; align-items: center;justify-content: center;">
            <input id="homepage" type="submit" value="Back to Homepage" style="background:green;color:#fff;padding:1rem; border-radius:12px;border:none;margin-top:1rem;">
        </div>
    </form>
</body>
<script src="../public/main.js"></script></html>